# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
# Chỉ ignore database.db chính nhưng vẫn cho phép file backup
database.db
!database.backup
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
!.env.example
database.db-wal
database.db-shm
